name: Build WASM

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y cmake python3 git nodejs clang

      - name: Install Emscripten
        run: |
          git clone https://github.com/emscripten-core/emsdk.git
          cd emsdk
          ./emsdk install latest
          ./emsdk activate latest
          source ./emsdk_env.sh
          cd ..

      - name: Compile C++ to WASM
        run: |
          source ./emsdk/emsdk_env.sh
          emcc tajwid.cpp -o tajwid.js -s MODULARIZE=1 -s EXPORT_NAME="TajwidModule" --bind

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: wasm-build
          path: |
            tajwid.js
            tajwid.wasm
